body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background: url(bg.jpg);
    background-repeat:no-repeat;
    overflow: hidden;
    background-size: 200%;
}

.container{
    width: 440px;
    margin: auto;
    
}

.navigation{
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

.navigation > div {
    padding: 10px;
    margin: 10px;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.1);
}

.navigation>div:hover{
    box-shadow: 2px 2px 5px #555;
}


#form{
    
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.1);
}

h2{
    text-align: center;
    padding: 30px;
}

#form button{
    padding: 10px;
    margin-left: 100px;
    margin-bottom: 20px;
    width: 250px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-style: oblique;
    background-color: transparent
    
}

#form button:hover{
    box-shadow: 2px 2px 5px #555;
}

.input-group{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    margin-bottom: 20px;
    
}

.input-group input{
    border: none;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}

.input-group input:focus{
    outline: 0;
}

